body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #333;
}
.float-menu a{
    float: left;
    align-items: center;
    color: white;
    height: 50px;
    width: 120px;
    background-color: #f44336;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
.clear{
    clear: both;
}
h3{
    text-align: center;
    color: #555;
}
h2{
    text-align: center;
    color: #666;
}
