body{
            font-family: Arial, sans-serif;
            background-color: lightgray;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        h1{
            color: rgb(163, 230, 8);
            margin-bottom: 30px;
            text-align: center;
        }