body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
h1{
    color: #333;
    text-align: center;
}
.block-menu a{
    display: block;
    align-items: center;
    color: white;
    background-color: #4CAF50;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}
.inline-menu a{
    display: inline;
    align-items: center;
    color: white;
    background-color: #2196F3;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.inline-block-menu a{
    display: inline-block;
    align-items: center;
    color: white;
    height: 50px;
    width: 120px;
    background-color: #f44336;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
.float-menu a{
    float: left;
    align-items: center;
    color: white;
    background-color: #00eeff;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
.clear-example{
    clear: both;
    background-color: f4f4f4;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
