body{
            font-family: Arial, sans-serif;
            background-color: lightgray;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        h1{
            color: black;
            margin-bottom: 30px;
            text-align: center;
        }
            .product-box{
            width: 300px;
            border: 2px solid black;
            margin: 0 auto;
            padding: 15px;
            background-color: rgb(250, 254, 254);
            border-radius: 8px;
            text-align: center;
        }
        .product-box img{
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .product-box h2{
            margin-top: 10px 0;
            font-size: 20px;
        }
        .description{
            font-size: 18px;
            font-weight: bold;
            margin: 15px 0;
        }
        .price{
            font-size: 20px;
            font-weight: bold;
            color: green;
        }
        button{
            padding: 10px 20px;
            background-color: blueviolet;
            color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px 15px;
            cursor: pointer;

        }
        button:hover{
            background-color: rgb(122, 15, 168);
            animation: hoverEffect 0.3s forwards;
        }