body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
nav{
    background-color: #e8491d;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2vw;
    background-color: #232f3e;
    color: white;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a{
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer{
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.menu-btn {
    display: block;
    cursor: pointer;}