body{
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container{
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    
}
.card{
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}