body{
    font-family: sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    border-radius: 10px;
}