body{
    font-family: sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    padding: 0;
    display: flex;
    justify-content: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.card h3 {
    font-size: 15px;
    margin: 15px 0 10px;
}
.card h2 {
    color: green;
    margin-bottom: 15px;
}
.button {
    background: linear-gradient(#0fc4a3,#0c0c72);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}
button:hover {
    background: rgb(163, 10, 163);
}